@import "_fonts";
@import "_global";
@import "_form";
@import "_buttons";
@import "_display";

/*Header*/

.header-login {
    margin: 30px;
    margin-left: 70px;
}

/*Main*/

.redes-principal {
    display: flex;
    
}

/*Footer*/