.buttons1 {
    width: 215px;
    height: 58px;
    font-size: 18px;
    border-radius: 29px;
    background-color: #3dc154;
    color: #fff;
}

.login1 {
    width: 307px;
    height: 42px;
    border-radius: 4px;
    background-color: #3dc154;

}

.login2 {
    width: 468px;
    height: 42px;
    border-radius: 4px;
    background-color: #3dc154;

}